
.nav{
  margin: 10px auto;
  width: 95%;
  display: flex;
  background-color: #999;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  min-width: fit-content;
}

.title{
  font-size: 200%;
  padding-right: 30%;
}

.links{
  display: flex;
  min-width: fit-content;
  justify-content: space-around;
}