
.countries{
  margin: 1% 3%;
  padding-top: 2%;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  background-color: rgba(120, 147, 190, 1);
}

.loading{
  width: 30%;
  margin: 1%;
}