
img{
  width: 50%;
  height: 50%;
  object-fit: fill;
}

.country{
  margin: 1%;
  border-radius: 15px;
  width: 50vh;
  padding: 2%;
  background-color: rgba(180, 205, 245, 0.8);
  box-shadow: 5px 10px rgb(120, 147, 190);
  text-decoration: none;
}

.countryLink{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}