
.flag{
  width: 1.5em;
}

.labels{
  font-weight: 700;
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: 800;
  color: #009;
}

.subTitle{
  margin: 0;
}

.list_container{
  margin: auto;
  width: 80%;
  display: flex;
  border: solid 2px black;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #FFF;
}

.item{
  margin: 1%;
  flex-basis: 45%;
}

.formStyle{
  background-color: rgba(0, 0, 100, 0.2);
  padding: 2%;
  border-radius:20px;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto auto 0;
  min-width: fit-content;
}

.select{
  margin: 1% auto;
}

.form_item{
  text-align: left;
  margin: 0.5% 0
}

.durationInput{
  width: 50px;
}

.error{
  padding-left: 1%;
  color: #F55;
  font-size: small;
}

.errorField{
  border: 2px solid #F55;
}

.errorField:focus {
  outline: 1px solid #F55;
}

.successMessage{
  color: green;
}

.failedMessage{
  color: #F11;
}